{% extends "base.html" %}

{% block content %}
<div class="ten columns">
    <div class="post">
        <div class="post_title">{{ post.title }}</div>
        <div class="post_metadata">{{ post.publish|date }}</div>
        {% if post.photo %}<div class="post_photo"><img src="{{ post.photo.url }}"/></div>{% endif %}
        <div class="post_body">{{ post.body }}</div>
    </div>
</div>
<div class="six columns">
    <div class="news-categories">
        <h4>NEWS</h4>
        {% for category in categories %}
            <div class="news-category">{{ category }}</div>
            <div class="news-category-post">
            <ul>
                {% for post in category.posts.all %}
                    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
