{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}Home{% endblock title %}

{% block content %}
    <!-- Jumbotron -->
    <div class="sixteen columns">
        <div class="jumbotron">
            <figure>
                <img src="{% static "img/carousel/cdale.jpg" %}">
            </figure>
        </div>
    </div>
    <div class="fourteen columns offset-by-one add-top">
        <h3>Sales</h3>
        <p>Sales</p>
        <h3>Service</h3>
        <p>Expert bicycle service in Wisconsin.</p>
    </div>
{% endblock %}
