{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}About{% endblock title %}

{% block content %}
    <!-- Jumbotron -->
    <div class="sixteen columns">
        <div class="jumbotron">
            <figure>
                <img src="{% static "img/carousel/cdale.jpg" %}">
            </figure>
        </div>
    </div>
    <div class="fourteen columns offset-by-one add-top">
        <h3>Service & Repair</h3>
        <p>Schwag’s mechanics are fully-trained and experienced with the capability to professionally diagnose and repair your bicycle with efficient and knowledgeable service. We also offer Tune-ups to help you keep your bicycle in its best condition. It is not necessary to make an appointment, just stop in with your bicycle during store hours and we will give you an estimate for repairs/services needed. All service and repair jobs are prioritized on a first-come, first-served basis; although our mechanics can usually take care of most minor adjustments while you wait.</p>
        <p>We service all brands, models & styles of bicycles, from old to new.</p>
        <p>We also offer custom-built bicycles to your specifications, including fat bikes, road bikes, mountain bikes, triathalon bikes & commuters. Our experienced and knowledgeable staff will help you create your dream bicycle. Stop in for a free consultation on what we can do help you make your next new bicycle fit your needs perfectly and look exactly way you want it to.</p>

        <h3>About Us</h3>
        <p>Schwag, a local business since 2007, recently moved to its new location in North Appleton. We are an Authorized Dealer for Cannondale, Schwinn and GT bicycles. We also stock the most popular accessories including bicycle racks, tires, apparel & helmets to name a few. We can also special order an item for you if it’s not available in-store.</p>

        <h3>Team Schwag</h3>
        <p>If you’re interested in joining Team Schwag, just stop by our store or <a href="/contact/">send us an email</a>. We also have team apparel for sale.</p>
    </div>
{% endblock %}
