{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}Home{% endblock title %}

{% block content %}
    <!-- Jumbotron -->
    <div class="sixteen columns">
        <div class="jumbotron">
            <figure>
                <img src="{% static "img/carousel/cdale.jpg" %}">
            </figure>
        </div>
    </div>
    <div class="fourteen columns offset-by-one add-top">
        <h3>Map:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.8514634228623!2d-104.864648!3d38.9045119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x871351cba3b6db49%3A0xb45bad48c561aa21!2s5040+Corporate+Plaza+Dr!5e0!3m2!1sen!2sus!4v1403479656521" width="100%" height="400" frameborder="0" style="border:0"></iframe>

    </div>
{% endblock %}
