{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}Location{% endblock title %}

{% block content %}
    <!-- Jumbotron -->
    <div class="sixteen columns">
        <div class="jumbotron">
            <figure>
                <img src="{% static "img/carousel/cdale.jpg" %}">
            </figure>
        </div>
    </div>
    <div class="fourteen columns offset-by-one add-top">
        <h3>Map:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2856.1435543393545!2d-88.39579789999999!3d44.2864365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8803b13175f2e7bf%3A0x445321aba9f1de3e!2s2727+N+Meade+St%2C+Appleton%2C+WI+54911!5e0!3m2!1sen!2sus!4v1410806075161" width="100%" height="450" frameborder="0" style="border:0"></iframe>

    </div>
{% endblock %}
